---
import MainLayout from "../layouts/MainLayout.astro";
import PlaceCard from "../components/PlaceCard.astro";

---

<MainLayout>
    <h1 class="text-3xl font-extrabold">Places</h1>
    <div class="grid grid-cols-3 gap-4">
        <PlaceCard />
    </div>
</MainLayout>
