---
import Star from "./Star.astro";


---
<div class="max-w-2xl mx-auto">
    <div class="shadow-md rounded-lg max-w-sm bg-gray-800 border-gray-700">
        <a href="#">
            <img class="rounded-lg pb-5 overflow-hidden" src="https://i.ibb.co/KqdgGY4/cosmetic-packaging-mockup-1150-40280.webp" alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="#">
                <h3 class=" font-semibold text-xl tracking-tight text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h3>
            </a>
            <div class="flex items-center mt-2.5 mb-5">
                <div class="flex flex-1">
                    <Star />
                    <Star />
                    <Star />
                    <Star />
                    <Star />
                </div>
                <span class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded bg-blue-200 text-blue-800 ml-3">5.0</span>
            </div>
        </div>
    </div>
</div>
